/* CSS Document 
 * GYN Wordpress plugin
*/

.formfield {
	width: 100%;
}

td.form-field-label {
	width: 20%;
}

.gyn-reg-users-table,
.gyn-admin-warning-table,
.admin-settings-box {
	margin: 10px 0;
}

.widefat td.alert {
	color: #FF0000;
}

.widefat td.wrap-it {
	max-width: 300px;
	word-wrap: normal;
}