/* CSS Document 
 * GYN Wordpress plugin
*/

.formfield {
	width: 100%;
}

.gyn-reg-users-table,
.gyn-admin-warning-table,
.admin-settings-box {
	margin: 30px 0;
}

.gyn-admin-warning-table th.warning {
	color: #FFFFFF;
	background-color: #FF0004;
}